# SQL Basics

이 노트북은 SQL 기초 학습을 위한 템플릿입니다. 🚀

# SQL Basics 01: SELECT & WHERE

이 챕터에서는 SQL의 가장 기본적인 문법을 배웁니다.  
- **SELECT**: 원하는 열(column)만 조회하기  
- **WHERE**: 조건을 걸어서 원하는 행(row)만 가져오기  

👉 `chapter00`에서 만든 `sample.db`를 활용합니다.

In [15]:
import sqlite3

# sample.db 불러오기
conn = sqlite3.connect("sample.db")
cursor = conn.cursor()

print("✅ sample.db 연결 완료")

✅ sample.db 연결 완료

## 🟢 SELECT 기본 문법

```sql
SELECT column1, column2 FROM table;

In [16]:
### 4. 코드: SELECT 전체 조회

cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

(1, 'Alice', 25, 'Seoul')
(2, 'Bob', 30, 'Busan')
(3, 'Charlie', 35, 'Incheon')

## 🎯 특정 열만 조회하기

예) users 테이블에서 이름(name)과 도시(city)만 조회

In [17]:
cursor.execute("SELECT name, city FROM users")
for row in cursor.fetchall():
    print(row)

('Alice', 'Seoul')
('Bob', 'Busan')
('Charlie', 'Incheon')

## 🔍 WHERE 조건문

```sql
SELECT column FROM table WHERE 조건;

In [19]:
### 8. 코드: WHERE 예시

cursor.execute("SELECT name, age FROM users WHERE age >= 30")
for row in cursor.fetchall():
    print(row)

('Bob', 30)
('Charlie', 35)

## 🧩 WHERE 복합 조건

- `AND`: 조건 모두 만족
- `OR`: 조건 중 하나 만족

예) Busan에 살면서 나이가 30 이상인 사용자

In [ ]:
cursor.execute("SELECT * FROM users WHERE city='Busan' AND age >= 30")
for row in cursor.fetchall():
    print(row)

In [ ]:
✅ 이번 챕터에서 배운 것:
- SELECT 기본
- 원하는 열(column)만 선택
- WHERE 조건문 (단일 조건, 복합 조건)

👉 다음 챕터: **GROUP BY & JOIN**