# SQL Basics

ì´ ë…¸íŠ¸ë¶ì€ SQL ê¸°ì´ˆ í•™ìŠµì„ ìœ„í•œ í…œí”Œë¦¿ì…ë‹ˆë‹¤. ğŸš€

# SQL Basics 02: GROUP BY & JOIN

ì´ ì±•í„°ì—ì„œëŠ” ë°ì´í„°ë¥¼ ë¬¶ê³  ì—°ê²°í•˜ëŠ” ë°©ë²•ì„ ë°°ì›ë‹ˆë‹¤.  
- GROUP BY: ë°ì´í„°ë¥¼ íŠ¹ì • ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”  
- JOIN: ì—¬ëŸ¬ í…Œì´ë¸” ì—°ê²°í•˜ê¸°  

ğŸ‘‰ `sample.db`ì˜ `users`, `orders` í…Œì´ë¸”ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
import sqlite3

# sample.db ë¶ˆëŸ¬ì˜¤ê¸°
conn = sqlite3.connect("sample.db")
cursor = conn.cursor()

print("âœ… sample.db ì—°ê²° ì™„ë£Œ")

## ğŸ“Š GROUP BY ê¸°ë³¸

ë¬¸ë²•:
```sql
SELECT column, aggregate_function(column) 
FROM table 
GROUP BY column;

In [ ]:

### ğŸ”¹ ì…€ 4 (ì½”ë“œ)

cursor.execute("""
SELECT user_id, COUNT(*) AS order_count
FROM orders
GROUP BY user_id
""")
for row in cursor.fetchall():
    print(row)

## ğŸ“¦ GROUP BY + ì§‘ê³„í•¨ìˆ˜

ìì£¼ ì“°ëŠ” ì§‘ê³„ í•¨ìˆ˜:
- COUNT(): ê°œìˆ˜
- SUM(): í•©ê³„
- AVG(): í‰ê· 
- MAX(): ìµœëŒ€ê°’
- MIN(): ìµœì†Œê°’  

ì˜ˆ: user_id ë³„ ì£¼ë¬¸ ì´ ìˆ˜ëŸ‰(amount) í•©ê³„

In [ ]:
cursor.execute("""
SELECT user_id, SUM(amount) AS total_amount
FROM orders
GROUP BY user_id
""")
for row in cursor.fetchall():
    print(row)

## ğŸ”— INNER JOIN

JOIN ë¬¸ë²•:
```sql
SELECT A.column, B.column
FROM A
JOIN B ON A.key = B.key;

In [ ]:

### ğŸ”¹ ì…€ 8 (ì½”ë“œ)

cursor.execute("""
SELECT u.name, o.product, o.amount
FROM orders o
JOIN users u ON o.user_id = u.id
""")
for row in cursor.fetchall():
    print(row)

## ğŸ”„ LEFT JOIN

LEFT JOIN: ì™¼ìª½ í…Œì´ë¸”ì€ ëª¨ë‘ í‘œì‹œ, ì˜¤ë¥¸ìª½ì€ ë§¤ì¹­ë˜ëŠ” ê°’ë§Œ í‘œì‹œ.  
ì˜ˆ: users ê¸°ì¤€ìœ¼ë¡œ, ì£¼ë¬¸ì´ ì—†ëŠ” ì‚¬ìš©ìë„ í‘œì‹œí•˜ê¸°

In [ ]:
cursor.execute("""
SELECT u.name, o.product
FROM users u
LEFT JOIN orders o ON u.id = o.user_id
""")
for row in cursor.fetchall():
    print(row)

## âœ… ì •ë¦¬

ì´ë²ˆ ì±•í„°ì—ì„œ ë°°ìš´ ê²ƒ:
- GROUP BY ê¸°ë³¸
- ì§‘ê³„ í•¨ìˆ˜ (COUNT, SUM, AVG ë“±)
- INNER JOIN
- LEFT JOIN

ğŸ‘‰ ë‹¤ìŒ ì±•í„°: **SQL â†’ pandas ì—°ë™**