# SQL Basics

ì´ ë…¸íŠ¸ë¶ì€ SQL ê¸°ì´ˆ í•™ìŠµì„ ìœ„í•œ í…œí”Œë¦¿ì…ë‹ˆë‹¤. ğŸš€

# SQL Basics 01: SELECT & WHERE

ì´ ì±•í„°ì—ì„œëŠ” SQLì˜ ê°€ì¥ ê¸°ë³¸ì ì¸ ë¬¸ë²•ì„ ë°°ì›ë‹ˆë‹¤.  
- **SELECT**: ì›í•˜ëŠ” ì—´(column)ë§Œ ì¡°íšŒí•˜ê¸°  
- **WHERE**: ì¡°ê±´ì„ ê±¸ì–´ì„œ ì›í•˜ëŠ” í–‰(row)ë§Œ ê°€ì ¸ì˜¤ê¸°  

ğŸ‘‰ `chapter00`ì—ì„œ ë§Œë“  `sample.db`ë¥¼ í™œìš©í•©ë‹ˆë‹¤.

In [15]:
import sqlite3

# sample.db ë¶ˆëŸ¬ì˜¤ê¸°
conn = sqlite3.connect("sample.db")
cursor = conn.cursor()

print("âœ… sample.db ì—°ê²° ì™„ë£Œ")

âœ… sample.db ì—°ê²° ì™„ë£Œ

## ğŸŸ¢ SELECT ê¸°ë³¸ ë¬¸ë²•

```sql
SELECT column1, column2 FROM table;

In [16]:
### 4. ì½”ë“œ: SELECT ì „ì²´ ì¡°íšŒ

cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

(1, 'Alice', 25, 'Seoul')
(2, 'Bob', 30, 'Busan')
(3, 'Charlie', 35, 'Incheon')

## ğŸ¯ íŠ¹ì • ì—´ë§Œ ì¡°íšŒí•˜ê¸°

ì˜ˆ) users í…Œì´ë¸”ì—ì„œ ì´ë¦„(name)ê³¼ ë„ì‹œ(city)ë§Œ ì¡°íšŒ

In [17]:
cursor.execute("SELECT name, city FROM users")
for row in cursor.fetchall():
    print(row)

('Alice', 'Seoul')
('Bob', 'Busan')
('Charlie', 'Incheon')

## ğŸ” WHERE ì¡°ê±´ë¬¸

```sql
SELECT column FROM table WHERE ì¡°ê±´;

In [19]:
### 8. ì½”ë“œ: WHERE ì˜ˆì‹œ

cursor.execute("SELECT name, age FROM users WHERE age >= 30")
for row in cursor.fetchall():
    print(row)

('Bob', 30)
('Charlie', 35)

## ğŸ§© WHERE ë³µí•© ì¡°ê±´

- `AND`: ì¡°ê±´ ëª¨ë‘ ë§Œì¡±
- `OR`: ì¡°ê±´ ì¤‘ í•˜ë‚˜ ë§Œì¡±

ì˜ˆ) Busanì— ì‚´ë©´ì„œ ë‚˜ì´ê°€ 30 ì´ìƒì¸ ì‚¬ìš©ì

In [ ]:
cursor.execute("SELECT * FROM users WHERE city='Busan' AND age >= 30")
for row in cursor.fetchall():
    print(row)

In [ ]:
âœ… ì´ë²ˆ ì±•í„°ì—ì„œ ë°°ìš´ ê²ƒ:
- SELECT ê¸°ë³¸
- ì›í•˜ëŠ” ì—´(column)ë§Œ ì„ íƒ
- WHERE ì¡°ê±´ë¬¸ (ë‹¨ì¼ ì¡°ê±´, ë³µí•© ì¡°ê±´)

ğŸ‘‰ ë‹¤ìŒ ì±•í„°: **GROUP BY & JOIN**