# SQL Basics

ì´ ë…¸íŠ¸ë¶ì€ SQL ê¸°ì´ˆ í•™ìŠµì„ ìœ„í•œ í…œí”Œë¦¿ì…ë‹ˆë‹¤. ğŸš€

# SQL Basics 00: í™˜ê²½ ì„¸íŒ… & ìƒ˜í”Œ DB ì¤€ë¹„

ì´ ë…¸íŠ¸ë¶ì—ì„œëŠ” ì•ìœ¼ë¡œ ì‹¤ìŠµí•  **SQLite ë°ì´í„°ë² ì´ìŠ¤**ë¥¼ ì¤€ë¹„í•©ë‹ˆë‹¤.  
- SQLite ì—°ê²° í™•ì¸  
- ìƒ˜í”Œ ë°ì´í„°ë² ì´ìŠ¤(`sample.db`) ìƒì„±  
- ì—°ìŠµìš© í…Œì´ë¸”(`users`, `orders`) ë§Œë“¤ê¸°

In [1]:
import sqlite3

# sample.db íŒŒì¼ì— ì—°ê²° (ì—†ìœ¼ë©´ ìƒˆë¡œ ìƒì„±ë¨)
conn = sqlite3.connect("sample.db")
cursor = conn.cursor()

print("âœ… SQLite ì—°ê²° ì„±ê³µ!")

âœ… SQLite ì—°ê²° ì„±ê³µ!

## ğŸ‘¤ users í…Œì´ë¸” ìƒì„±

- id (ì •ìˆ˜, ê¸°ë³¸í‚¤)
- name (ë¬¸ìì—´)
- age (ì •ìˆ˜)
- city (ë¬¸ìì—´)

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    city TEXT
)
""")

cursor.executemany("""
INSERT INTO users (name, age, city) VALUES (?, ?, ?)
""", [
    ("Alice", 25, "Seoul"),
    ("Bob", 30, "Busan"),
    ("Charlie", 35, "Incheon"),
])

conn.commit()
print("âœ… users í…Œì´ë¸” ì¤€ë¹„ ì™„ë£Œ!")

âœ… users í…Œì´ë¸” ì¤€ë¹„ ì™„ë£Œ!

## ğŸ“¦ orders í…Œì´ë¸” ìƒì„±

- id (ì •ìˆ˜, ê¸°ë³¸í‚¤)
- user_id (ì •ìˆ˜, users.idì™€ ì—°ê²°)
- product (ë¬¸ìì—´)
- amount (ì •ìˆ˜)

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER,
    product TEXT,
    amount INTEGER,
    FOREIGN KEY (user_id) REFERENCES users(id)
)
""")

cursor.executemany("""
INSERT INTO orders (user_id, product, amount) VALUES (?, ?, ?)
""", [
    (1, "Laptop", 1),
    (2, "Mouse", 2),
    (2, "Keyboard", 1),
    (3, "Monitor", 1),
])

conn.commit()
print("âœ… orders í…Œì´ë¸” ì¤€ë¹„ ì™„ë£Œ!")

âœ… orders í…Œì´ë¸” ì¤€ë¹„ ì™„ë£Œ!

In [4]:
print("ğŸ‘¤ Users:")
for row in cursor.execute("SELECT * FROM users"):
    print(row)

print("\nğŸ“¦ Orders:")
for row in cursor.execute("SELECT * FROM orders"):
    print(row)

ğŸ‘¤ Users:
(1, 'Alice', 25, 'Seoul')
(2, 'Bob', 30, 'Busan')
(3, 'Charlie', 35, 'Incheon')

ğŸ“¦ Orders:
(1, 1, 'Laptop', 1)
(2, 2, 'Mouse', 2)
(3, 2, 'Keyboard', 1)
(4, 3, 'Monitor', 1)

âœ… ì´ì œ SQL ì‹¤ìŠµì— ì‚¬ìš©í•  ìƒ˜í”Œ DB(`sample.db`)ê°€ ì¤€ë¹„ë˜ì—ˆìŠµë‹ˆë‹¤.  
ë‹¤ìŒ ì±•í„°ë¶€í„°ëŠ” ì´ DBë¥¼ ë¶ˆëŸ¬ì™€ì„œ **SELECT, WHERE, GROUP BY, JOIN** ë“±ì„ ì—°ìŠµí•©ë‹ˆë‹¤!